.side-menu-group .menu-group li{
    color: white;
    margin-bottom: 10px;

}

li{
    color: white;
}
.side-menu-group .menuItemRoute{
    padding: 8px;
}
.side-menu-group .menuItem{
    margin: 0;
}
.side-menu-group .menuItemRoute{
margin-left: 0.8em;
}
.side-menu-group .menuItem:hover{
    background-color: black;
    opacity: 0.5;
    color: white;
}  
.menuItem > li{
    transition:all 0.3s ease;
}
.menuItem li >a>i::before {
    margin-right: 14px;
    font-size: 17px;
    vertical-align: middle;
  }

 .menuItem > li:hover .menuItem {
    background-color: #07334c;
    border-left-color: #ff8500;
}