<div class="content-wrapper">

  <div class="list-applications" id="list-applications" style="transition: 0.8s;">
 
      

      
        <section class="padL35 content-header">
            <h1 class="marTB15 txt-orange">
              <span><span class="evo-role"></span>Application Management</span>
            </h1>
            
          <div class="rightSecBtn adjust-plussymbol"> 
              <span  [routerLink]="['/createApplication']" mat-raised-button
              matTooltip="Add New Application"><span class="evo-role"></span><span class="plus-symbol">+</span></span>
           </div>
          </section> 

<br>
<br>
    
<section class="content" >
    <div class="row row-padding">
      <div class="col-md-10">
            <h4 class="txt-blue">List of Applications</h4>
            <br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
     
      <div class="gridHeadSec">
        <h4 class="txt-blue">Available Application Details</h4>
        <!-- <h5>Showing {{startIndex}} to {{ noOfApplicationsInCurrentPage }} out of {{ totalNoOfApplications }}</h5> -->
        <div class="pull-right">						
          <!-- <h5 class="txt-black">Results per Page</h5>							 -->
          <!-- <mat-select name="tablePageSize" (selectionChange)="setPageSize()" [(ngModel)]="pageSize" class="form-control">
              <mat-option [value]="5" >5</mat-option>
              <mat-option [value]="10">10</mat-option>
              <mat-option [value]="15">15</mat-option>
              <mat-option [value]="20">20</mat-option>
           </mat-select> -->
        </div>
</div>

      <!--Table-->
      <div class="tablegrid animated row">
        <div class="col-md-12">
          <div class="slide-table">
              <div id="container-table">
                  <div id="content-table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
             
              <th>Application Name</th>
              <th>Application Code</th>
              <th>Activation Status</th>
            </tr>
     
          </thead>
          <tbody>
            <tr *ngFor="let application of applications" (click)="selectApplication(application); viewSelectedApplication();">
            
              <td>{{ application?.applicationName | uppercase}}</td>
              <td>{{ application?.applicationCode | uppercase}}</td>
              <td>{{ application?.enableFlag == true ? 'Enabled' : 'Disabled'}}</td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
      </div>
    </div>
  </div>
</div>
        <!--Table-->
        </div>
        </div>
      </div>
</section>
<!-- <section class="content" *ngIf="!areAnyApplicationsAvailable">
  <div class="row row-padding">
    <div class="col-md-10">
          <h4 class="txt-red" style="color:red;">No Applications Found!</h4>
          <br>
      </div>
    </div>
</section> -->

  </div>
</div>
