mat-progress-spinner{
    margin-left: 43em; 
    margin-top: 17em;
}
.fa-bookmark{   
margin-top: 20px;   
cursor: pointer; 
}    
.fa-bookmark{  
    font-size: 15px;
    color: #0d476d;  
}       
.dropdown-menu li{
    cursor: pointer; 

}  