<div class="wrapper" *ngIf="isAuthenticated; else other">
    <app-starter-header></app-starter-header>
    <app-starter-left-side></app-starter-left-side>
    <router-outlet></router-outlet>
    <app-starter-footer></app-starter-footer>
    <!-- <div class="control-sidebar-bg"></div> -->
</div>

<ng-template #other>
        <!-- <app-starter-header></app-starter-header> -->
        <router-outlet></router-outlet>
        <!-- <app-starter-footer></app-starter-footer> -->
        <!-- <div class="control-sidebar-bg"></div> -->
</ng-template>
  