<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper addFormSec">
  <!-- Content Header (Page header) -->
  <section class="padL35 content-header ">
    <h1 class="marTB15 txt-orange">
      <div class="img_icon">
        <span>
          <i class="fa fa-angle-left" mat-raised-button matTooltip="Back" [routerLink]="['/userManagement']" aria-hidden="true"></i> Add New User</span>
      </div>
    </h1>
  </section>

  <section class="content">
    <form [formGroup]="userForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-12">
          <h4>User Details</h4>
          <hr>
        </div>
        <div class="col-md-8 ">
          <div class="col-md-6 no-padding-left">


            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input required matInput placeholder="User Id" autocomplete="off" formControlName="userId" (keyup)="toUpperCase($event)">
                <mat-error id="userIdError1" *ngIf="userForm.controls.userId.dirty && userForm.controls.userId.invalid">UserId is Invalid. Please check info!</mat-error>
                <mat-error id="userIdError2" *ngIf="userForm.controls.userId.pristine">This is a required field</mat-error>
                <label class="btn btn-info" mat-raised-button matTooltip="6 - 35 characters &#10004; [a-zA-Z0-9] &#10004; Hyphen and Underscore &#10004; Space &#10008;">
                  <i class="fa fa-question-circle"></i>
                </label>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Designation" autocomplete="off" formControlName="designation">
                <mat-error id="designationError1" *ngIf="userForm.controls.designation.dirty && userForm.controls.designation.touched">Designation is Invalid. Please check info!</mat-error>
                <mat-error id="designationError2" *ngIf="userForm.controls.designation.pristine">This is a required field</mat-error>
                <label class="btn btn-info" mat-raised-button matTooltip="6 - 35 characters &#10004; Space &#10004; Special Characters &#10008;">
                  <i class="fa fa-question-circle"></i>
                </label>
              </mat-form-field>

            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number" autocomplete="off" type="text" value="" maxlength="10" formControlName="phoneNumber">
                <mat-error id="phNoError1" *ngIf="userForm.controls.phoneNumber.dirty && userForm.controls.phoneNumber.invalid">Phone Number is Invalid</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mobile Number" autocomplete="off" type="text" value="" maxlength="10" formControlName="mobileNumber">
                <mat-error id="mbNoError1" *ngIf="userForm.controls.mobileNumber.invalid && userForm.controls.mobileNumber.dirty">Mobile Number is Invalid</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="City / Town" autocomplete="off" matInput formControlName="city" required>
                <mat-error id="cityError1" *ngIf="userForm.controls.city.dirty && userForm.controls.city.invalid">City is Invalid</mat-error>
                <mat-error id="cityError2" *ngIf="userForm.controls.city.pristine">This is a required field</mat-error>
                <label class="btn btn-info" mat-raised-button matTooltip="6 - 35 characters &#10004; Space &#10004; Special Characters &#10008;">
                  <i class="fa fa-question-circle"></i>
                </label>
              </mat-form-field>
            </div>

          </div>

          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input required matInput placeholder="User Name" autocomplete="off" value="" formControlName="userName">
                <mat-error id="userNameError1" *ngIf="userForm.controls.userName.dirty && userForm.controls.userName.invalid">User Name is Invalid. Please check info!</mat-error>
                <mat-error id="userNameError2" *ngIf="userForm.controls.userName.pristine">This is a required field</mat-error>
                <label class="btn btn-info" mat-raised-button matTooltip="6 - 140 characters &#10004;">
                  <i class="fa fa-question-circle"></i>
                </label>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input required matInput placeholder="Email ID" autocomplete="off" value="" formControlName="emailId">
                <mat-error id="emailIdError1" *ngIf="userForm.controls.emailId.dirty && userForm.controls.emailId.invalid">Email Id is Invalid</mat-error>
                <mat-error id="emailIdError2" *ngIf="userForm.controls.emailId.pristine">This is a required field</mat-error>
              </mat-form-field>
            </div>


            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="State" autocomplete="off" matInput formControlName="state" required>
                <mat-error id="stateError1" *ngIf="userForm.controls.state.dirty && userForm.controls.state.invalid">State is Invalid</mat-error>
                <mat-error id="stateError2" *ngIf="userForm.controls.state.pristine">This is a required field</mat-error>
                <label class="btn btn-info" mat-raised-button matTooltip="6 - 35 characters &#10004; Space &#10004; Special Characters &#10008;">
                  <i class="fa fa-question-circle"></i>
                </label>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Country" autocomplete="off" matInput formControlName="country" required>
                <mat-error id="countryError1" *ngIf="userForm.controls.country.dirty && userForm.controls.country.invalid">Country is Invalid</mat-error>
                <mat-error id="countryError2" *ngIf="userForm.controls.country.pristine">This is a required field</mat-error>
                <label class="btn btn-info" mat-raised-button matTooltip="6 - 35 characters &#10004; Space &#10004; Special Characters &#10008;">
                  <i class="fa fa-question-circle"></i>
                </label>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Fax" autocomplete="off" value="" maxlength="10" formControlName="faxNumber">
                <mat-error id="faxError1" *ngIf="userForm.controls.faxNumber.dirty && userForm.controls.faxNumber.invalid">Fax Number is Invalid</mat-error>
              </mat-form-field>
            </div>



          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Access Details</h4>
          <hr>
        </div>



        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="User Role" matInput aria-label="User Role" formControlName="role" name="role" id="role" [matAutocomplete]="auto4"
                required>
              <mat-autocomplete #auto4="matAutocomplete">
                <mat-option *ngFor="let roleName of filteredRoleNames | async" [value]="roleName">
                  {{ roleName | uppercase}}
                </mat-option>
              </mat-autocomplete>
              <mat-error id="roleError" *ngIf="userForm.controls.role.pristine">This is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Branch" matInput formControlName="entity" name="entity" id="entity" [matAutocomplete]="auto3"
                required>
              <mat-autocomplete #auto3="matAutocomplete">
                <mat-option *ngFor="let entityName of filteredEntityNames | async" [value]="entityName">
                  {{ entityName | uppercase }}
                </mat-option>
              </mat-autocomplete>
              <mat-error id="entityError1">This Branch Doesn't exist!</mat-error>

              <mat-error id="entityError2" *ngIf="userForm.controls.entity.pristine">This is a required field</mat-error>

            </mat-form-field>

          </div>
        </div>



        <div class="col-md-4">
          <div class="form-group">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Amount Limit Details</h4>
          <hr>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input required type="number" matInput placeholder="Individual Transaction Limit" value="" formControlName="individualTransactionLimit">
              <!-- <mat-error id="Error1" *ngIf="userForm.controls.individualTransactionLimit.dirty && userForm.controls.individualTransactionLimit.invalid">Individual Transaction Limit is Invalid</mat-error> -->
						    <mat-error id="entityError1" *ngIf="userForm.controls.individualTransactionLimit.pristine">This is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input required type="number" matInput placeholder="Daily Limit" value="" formControlName="dailyLimit">
               <!-- <mat-error id="entityError1" *ngIf="userForm.controls.dailyLimit.dirty && userForm.controls.dailyLimit.invalid">Daily Limit is Invalid</mat-error> -->
						    <mat-error id="entityError1" *ngIf="userForm.controls.dailyLimit.pristine">This is a required field</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Currency" formControlName="currency">
                <mat-option *ngFor="let currency of listOfMasterCurrency" [value]="currency?.currencyName">
                  {{ currency?.currencyName }}
                </mat-option>
              </mat-select>
              <mat-error id="currencyError" *ngIf="userForm.controls.currency.pristine">This is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12">
          <div class="">
            <button type="button" class="btn btn-default btn-submit" [disabled]="userForm.invalid" (click)="save()"> Submit</button>
            <button type="button" class="btn btn-default btn-close" [routerLink]="['/usermanagement']"> Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
