<div class="not-found" align="center">
    <div class="title main-title col-md-12">
        Sandstorm Console
      </div>
  <label class="errorName col-md-12">Error : 404</label>  
  <label class="errorDescription1 col-md-12">Refresh and Manual URL/Address change functionality not allowed!</label>
  <label class="errorDescription2 col-md-12">Redirecting to Login Page..</label>
  <div class="redirect col-md-12">
    <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner> 
  </div>
    
</div>             